body {
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
  background: url(./images/background-image.jpg) no-repeat center center fixed #f6ecbf;
  background-size: cover;
  height: 100%;

  }

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #35495e;

}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 420px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding-top: 3px;
  padding-left:3px;
  padding-right:3px;
  height: 22px;
  font-size: 18px;
  border: 1.5px solid darkslategrey;
  border-radius: 2px;
  background-color: #fdfdf6;
}

.addOption {
  margin-top: 10px;
  background-color: #127681;
  border-radius: 12px; 
  color: #dfddc7;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-color: darkslategrey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.addOption:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
}

.submit {
  background-color: #127681;
  border-radius: 12px;
  border-color: darkslategrey;
  color: #dfddc7;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
}

.resultSection{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
}
