body {
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
  background: url(./images/background-image.jpg) no-repeat center center fixed #f1d6ab;
  background-size: cover;
  height: 100%;
  }

/*------- Header --------*/
h1 {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #35495e;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*------- Input section ------*/
.inputSection {
  margin: 50px 5px 80px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: column wrap;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: column wrap;
}

input {
  margin-top: 10px;
  padding-top: 3px;
  padding-left:3px;
  padding-right:3px;
  height: 28px;
  font-size: 21px;
  border: 1.5px solid darkslategrey;
  border-radius: 4px;
  background-color: #fdfdf6;
  letter-spacing: 1px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  justify-content: center;
}

.addOption {
  margin-top: 18px;
  background-color: #127681;
  border-radius: 12px; 
  color: #dfddc7;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px;
  border-color: darkslategrey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  -webkit-transition-duration: 0.4s;
  transition-duration: color 0.4s ease-in-out;
}

.addOption:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
  font-weight: 700;
}

.submit {
  background-color: #127681;
  border-radius: 12px;
  border-color: darkslategrey;
  color: #dfddc7;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  justify-items: center;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
  font-weight: 700;
}

/*---- Result section -----*/
.resultSection{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: 400;
  color: #35495e;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #fffbcc;
}

/*-------- Media queries ---------*/

@media only screen and (min-width: 768px) {
/*--------- Tablet Styles -----------*/

  input {
    width: 370px;
  }

  .addOption {
    margin-top: 22px;
  }

}

@media only screen and (min-width: 1024px) {
 /*------- Ipad Pro styles ---------*/
  
  h1 {
    margin-top: 70px;
  }

  input {
    width: 460px;
  }
}

@media only screen and (min-width: 1200px) {
  /*--------- Desktop styles ---------*/
  
  body {
    margin-top: 80px;
  }

  .addOption {
    margin-top: 26px;
  }

  .submit {
    font-size: 36px;
    margin-top: 30px;
  }
  

}