body {
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
  background: url(./images/background-image.jpg) no-repeat center center fixed #f1d6ab;
  background-size: cover;
  height: 100%;
  }

h1 {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #35495e;
  text-align: center;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 460px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding-top: 3px;
  padding-left:3px;
  padding-right:3px;
  height: 28px;
  font-size: 21px;
  border: 1.5px solid darkslategrey;
  border-radius: 4px;
  background-color: #fdfdf6;
  letter-spacing: 1px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addOption {
  margin-top: 18px;
  background-color: #127681;
  border-radius: 12px; 
  color: #dfddc7;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px;
  border-color: darkslategrey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.addOption:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
}

.submit {
  background-color: #127681;
  border-radius: 12px;
  border-color: darkslategrey;
  color: #dfddc7;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit:hover {
  background-color: #4f9da6;
  color: #fdfdf6;
}

.resultSection{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: 400;
  color: #35495e;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #fffbcc;
}
